body {
    margin: 0 150px;
    background-color:black; 
    margin-bottom: 45px;   
}

.inside-padding {
    padding: 0 70px;
}

.header-container {
    background-color:#1f2937;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px 70px;
    }
.header-container > .links {
    display:flex;
    justify-content: flex-end;
    gap:8px;      
   }
.header-container > .logo {
    font-size: 24px;
    color: #f9faf8;
}

a:any-link {
    color:white;
    text-decoration: none;
}

.hero-main {
    background-color:#1f2937;
    color: white;
    display:flex;
    flex-direction: row;
    justify-content: space-between;  
    align-items: center;  
    padding: 65px;
    flex-wrap: nowrap;
    gap: 30px;  

}

.hero-main > .right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 150px;
    background-color: grey;
    margin-top: 2x;
    
}

.hero-main > .left {
    justify-content: flex-start;
    flex-wrap: wrap;
    width:350px;
    
    
}

.head-title {
    font-size: 48px;
    font-weight:600;
    color: #f9faf8;
}

button {
    background-color: #3882f6;
    border-radius: 5px;
    border: none;
    color: white;
}

.second-container {
    display: flex;
    align-items: flex-start;
    text-align: center;
    background-color: white;
    padding: 50px;
    justify-content:center;
    gap: 30px;
}

.text {
    font-size:small;
    width: 108px;
}

img {
    width: 100px;
    height: 100px;
    border: solid;
    border-radius: 10px;
    border: solid #3882f6;
}


.quote-container {
    background-color:#e5e7eb;
    color: white; 
    padding: 50px 140px;   
    
}
.quote {
    font-size: 28px;
    font-style:italic;
    color: #1f2937;
}
.author {
    text-align: right;
    font-weight: bold;
}


.footer-container {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;

}
.footer {
    background-color: #3882f6;
    padding: 0 50px;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: space-around;
    width:500px;
    
}
.footer-left {
    flex-wrap: wrap;
    width: 400px;
    margin-right:auto;

    
}
.footer-right {
    justify-content: flex-end;
    align-self: center;
    flex-wrap: wrap; 
}

.action {
    font-size: 24px;
    font-weight: bold;
}

#button {
    border: solid white 2px;
}